<ul class="menu">
    {% for link in links_menu %}
        <li>
            <a href="{% url link.href %}" class="
                {% if request.resolver_match.view_name == link.href%} active {% endif %}">
                {{ link.name }}
            </a>
        </li>
    {% endfor %}

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'auth:register' %}">регистрация</a>
        </li>
    {% endif %}
        <li>
            {% if user.is_authenticated %}
              <a href="{% url 'auth:logout' %}">выйти</a>
            {% else %}
              <a href="{% url 'auth:login' %}">войти</a>
            {% endif %}
        </li>
</ul>